*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/*LAYOUT */
.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  display: grid;
  grid-template-columns:1fr minmax(150px,1fr);
  justify-content: center;
  align-items: center;
  gap:30px;
  width:1140px;
} 

/* .result components style */
.result{
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap:16px;
  width:100%;
  height: 100%;
}
.search-form{
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.result__video-container{
  width:711px;
  height: 386px;
  position: relative;
 
}
.result__video{
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* TEXT-STYLE */
.search-form__fieldset-title{
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}
.search-form__label-text{
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}
/*TEXT STYLE */
/* .result components style */

/* .content__details components style*/
.content__details{
  display: flex;
  flex-direction: column;
  gap:30px;
  width:100%;
  height: 100%;
}
.content__list-container{
  display:flex;
  flex-direction: column;
  gap:30px;
  height:298px;
  overflow: auto;
  position: relative;
}
.content__list{
  display: flex;
  flex-direction: column;
  gap:30px;

}
.content__video-card{
  display: flex;
  justify-content: space-between;
}
.content__video-card-description-container{
  flex-grow:1;
}
.content__video-card-thumbnail{
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
/*TEXT STYLE */
.content__details a{
  text-decoration: none;
}
.content__details h1,.content__details h2{
  font-family: "Oswald"; 
  font-weight: 700;
  color:#fff;
  text-transform: uppercase;
}
.title span {
  color:#545050;
}
.title{
  font-size:75px;
  line-height: 94%;
}
.content__video-card-title{
  font-size:30px;
  line-height:100%;
  padding-bottom:6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content__video-card-description{
  color:#fff;
  font-size: 18px;
  line-height: 16.2px;
  font-weight: 400;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.content__video-card-description-container{
  max-width: 196px;
}
/*TEXT STYLE */
/* .content__details components style*/

/* FORM-STYLE-RESET*/
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 
.search-form__fieldset{
  border:0;
}
/* FORM-STYLE-RESET*/

/* TEXT-INPUT FORM */
.search-form__label{
  display: flex;
  align-items: center;
  width: fit-content;
  gap:5px;
  margin-top:5px;
}
.search-form__textfield{
  border:0;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  background-color: transparent;
  padding:2.5px 14px 2.5px 0px;
  width:225px;
  font-size:16.5px;
  appearance: none;
  color:#fff;
}
.search-form__textfield::placeholder{
  color:rgb(255 255 255 / 0.7)
}

/* TEXT-INPUT FORM */
/* CHECK-BOX-INPUT FORM*/
.search-form__checkbox-list{
  display: flex;
  gap:15px;
}
.search-form__pseudo-checkbox{
  width:19px;
  height: 19px;
  border: 1px solid #fff;
  padding:1px;
}
.search-form__pseudo-checkbox::after{
  content:"";
  display:block;
  width:100%;
  height: 100%;
  background-color: #fff;
  opacity:0;
}
.search-form__checkbox:checked+.search-form__pseudo-checkbox::after{
  opacity: 1;
} 

/* CHECK-BOX-INPUT FORM*/
/* BUTTONS-STYLE*/
.button{
  color:#fff;
  background-color: transparent;
  border:1px solid #fff;
  font-size: 18px;
  line-height: 100%;
  font-weight: 700;
  
}
.search-form__submit-button{
  width:194px;
  height: 34px;
  align-self: end;
}
.more-button{
  padding: 7px 0px;
  width:100%;
}
/* BUTTONS-STYLE*/
/*---------------focus / focus-visible---------------*/
.search-form__label:has(:focus){
  outline:none;
}
.search-form__label:has(:focus-visible){
  outline:1px solid #fff;
}
.button:focus{
  outline: none;
}
.button:focus-visible{
  outline:1px solid #fff;
}
/* CARDS - STYLE */
.content__card-link{
  display: block;
}
.content__card-link_current{
  background-color: #545050;
}
.content__list-item{
  padding:3px;
}

/*--------------- active ---------------*/
.button:active{
  background-color: #545050;
}
.content__card-link:active{
  background-color: #545050;
}
.content__card-link:focus{
  outline: none;
}
.content__card-link:focus-visible{
  outline : 1px solid #fff;
}

/*--------------- hover ---------------*/
.search-form__label:has(.search-form__checkbox ):hover{
  text-decoration: underline;
  text-underline-position: under;
  cursor:pointer;
}
.button:hover{
  text-decoration: underline;
  text-underline-position: under;
  cursor:pointer;
}
.content__card-link:hover{
   text-decoration:#fff underline;
  cursor:pointer;
}





